.navNav {
  background-color: #5d4954;
  display: flex;
  justify-content: space-between;
}
* {
  margin:0;
  padding: 0;
}
.fa {
  padding: 10px;
  font-size: 20px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  float: right;
  border-radius: 50px;
  
  }

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);

  color: white;
}
#navContainer ul {
  margin-top: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:#ffa69e;
  height: 10vh;
 
}
#navContainer ul li {
  padding-left: 10px;
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding-right: 50px;
  font-weight: bold;
   
 
}
a {
  text-decoration: none;
  color: rgb(82, 80, 80);
 
 }
 li {
  list-style: none;
 
 }
 #navContainer ul a:hover{
  background-color: pink;
  padding: 10px;
  opacity:0.9;
 }
body {
background-color: #ffa69e;
background-image: linear-gradient(315deg, #ffa69e 0%, #5d4954 74%);
}
.ml9 {
  position: relative;
  font-weight: 200;
  font-size: 4em;
  text-align: center;
}

.ml9 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
}

.ml9 .letter {
  transform-origin: 50% 100%;
  display: inline-block;
  line-height: 1em;
}
.container {
  position: relative;
  margin-bottom: 30px;
}


.text-block {
  position: relative;
  bottom: 30px;
  right: 6px;
  background-color: #5d4954;
  color: rgb(223, 206, 206);
  padding-left: 20px;
  padding-right: 18px;
}
.card { 
  width: 600px;
  height: 520px;
  background-color: #FFF;
  margin-left: 10px;
  border:10px solid #5d4954;
  margin-bottom: 50px;
  border-radius: 50px;
  text-align: center;
 
}
section {
display: flex;
justify-content: center;
align-items: center;
padding: 0 40px;
width: 88%;
margin-left: 30px;
}
.img2 {
  margin-left: 2rem;
  margin-top: 20px;
  align-items: center;
}
.img1 {
  margin-left: 2rem;
  margin-top: 20px;
  align-items: center;

}
.img3 {
  margin-left: 2rem;
  margin-top: 20px;
 }
 p {
   margin-top: 0.5rem;
 }
 button {
   font-size: medium;
   background-color:#ffa69e;
 }
 main {
   background-image: url("img/blossom.jpg");
   height: 400px;
   background-position: center;
   background-repeat: no-repeat;
   background-size:1000px 400px;
   position: relative;
   margin-bottom: 20px;
   
 }
 
.copyright {
  margin-top:15px;
  text-align:center;
  font-size:20px;
  color:#5d4954;
  margin-bottom:0;
}
#footerContainer {
  padding:20px 0;
  color: #5d4954;
  text-align: center;
  align-items: center;
  padding-right: 20px;
  margin-top: 10px;
  
}
#footerContainer ul {
   list-style:none;
    font-size:18px;
  line-height:0.6;
  margin-bottom:0;
  display: flex;
  margin-left: 70px;
  padding-right:20px;
  gap: 100px;
}
#footerContainer li {
  padding:0 10px;

}

#footerContainer ul a {
 
  text-decoration:none;
  opacity:0.8;
  color: #5d4954;
  
}

#footerContainer ul a:hover {
  opacity:1;
  color: #ffa69e;
}
.list-inline-item {
  
  font-weight: bold;
  font-size: large;

}
